<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>app8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet2</display-name>
    <servlet-name>RegServlet2</servlet-name>
    <servlet-class>com.aptech.RegServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet2</servlet-name>
    <url-pattern>/reg2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet3</display-name>
    <servlet-name>RegServlet3</servlet-name>
    <servlet-class>com.aptech.RegServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet3</servlet-name>
    <url-pattern>/reg3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet4</display-name>
    <servlet-name>RegServlet4</servlet-name>
    <servlet-class>com.aptech.RegServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet4</servlet-name>
    <url-pattern>/reg4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet5</display-name>
    <servlet-name>RegServlet5</servlet-name>
    <servlet-class>com.aptech.RegServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet5</servlet-name>
    <url-pattern>/reg5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet6</display-name>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>com.aptech.Servlet6</servlet-class>
    <init-param>
      <param-name>p1</param-name>
      <param-value>200</param-value>
    </init-param>
    <init-param>
      <param-name>country</param-name>
      <param-value>India</param-value>
    </init-param>
    <init-param>
      <param-name>abc</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/Servlet6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet7</display-name>
    <servlet-name>Servlet7</servlet-name>
    <servlet-class>com.aptech.Servlet7</servlet-class>
    <init-param>
      <param-name>p1</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet7</servlet-name>
    <url-pattern>/Servlet7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet8</display-name>
    <servlet-name>Servlet8</servlet-name>
    <servlet-class>com.aptech.Servlet8</servlet-class>
    <init-param>
      <description></description>
      <param-name>driver</param-name>
      <param-value>Oracle</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>p1</param-name>
      <param-value>parameter1</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>age</param-name>
      <param-value>22</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet8</servlet-name>
    <url-pattern>/Servlet8</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>url</param-name>
    <param-value>JDBC</param-value>
  </context-param>
  <context-param>
    <param-name>abc</param-name>
    <param-value>Hello</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Servlet9</display-name>
    <servlet-name>Servlet9</servlet-name>
    <servlet-class>com.aptech.Servlet9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet9</servlet-name>
    <url-pattern>/Servlet9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet10</display-name>
    <servlet-name>Servlet10</servlet-name>
    <servlet-class>com.aptech.Servlet10</servlet-class>
    <init-param>
      <description></description>
      <param-name>a1</param-name>
      <param-value>a2</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>test</param-name>
      <param-value>2000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet10</servlet-name>
    <url-pattern>/Servlet10</url-pattern>
  </servlet-mapping>
</web-app>